{% extends 'layout.html'%}

{% block content %}

    <div class="text-light">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, veritatis? Porro, ad! Commodi, hic. Autem dolorum molestiae aperiam culpa, nostrum laborum itaque libero neque similique. Consectetur repellendus id aliquam a.
        Quo, rerum fuga? Vel natus, excepturi possimus amet labore molestiae, error praesentium sed maiores voluptatibus quis minima dolor dolores neque dolorem, inventore eaque reprehenderit ratione? Totam aut natus similique rerum.
        Dolorem, voluptate? Quo odit similique repudiandae vitae ratione nisi nihil iste corporis provident soluta culpa quod error, dignissimos quae adipisci facilis nobis id tenetur veniam, illum nesciunt ipsum quaerat aliquid?
        Deserunt laboriosam similique minus ipsa aperiam eos. Labore aut consectetur nulla dolor vel nihil alias, ullam culpa aliquam dolorem provident facilis modi laborum, voluptas cum corrupti. Totam quidem commodi nisi!
        Laudantium accusamus dolorem doloremque suscipit eos porro atque ipsam, eum, dolor aliquid placeat odio vitae explicabo sapiente sequi doloribus consequuntur, corrupti beatae velit expedita dolorum. Dolor totam eaque non minima?
        Sunt dolorum totam doloribus cumque soluta perspiciatis voluptate sequi id laborum est. Dolorem aut repellendus maxime consectetur minima, illo unde rerum facere consequatur maiores voluptatum minus placeat nisi hic possimus.
        Enim ullam in numquam fugit at quos quidem ratione ex consequatur dolorum aliquam exercitationem possimus provident eveniet veniam impedit voluptate dicta reprehenderit quaerat repellat optio, voluptas perferendis excepturi! Natus, amet!
        Saepe, optio. Placeat, ipsum odio recusandae molestias, explicabo odit suscipit, vero tempora corporis error officiis molestiae omnis. Corrupti animi expedita esse sunt hic, culpa, explicabo nisi earum debitis tenetur quos!</p>
    </div>

{% endblock %}